.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    flex-direction: column;
}

.play-online {
    font-weight: 700;
    background-color: #E4CA56;
    font-size: 60px;
    cursor: pointer;
    margin-top: 40vh;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.waiting {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 40px;
}